@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "CalSans";
    src: url("/assets/CalSans/CalSans.ttf");
  }
  @font-face {
    font-family: "Inter";
    src: url("/assets/Inter/Inter.ttf");
  }
}
